header{
  padding: 1%;
  background-color: grey;
}

nav {
  padding: 1%;
  background-color: rgb(104, 104, 104);
}

.content-left{
  width: 20%;
  padding: 1%;
  height: 80vh;
  background-color: #e2e2e2 ;
}
.main{
  display: flex;
  flex-direction: row;
}
main{
  width: 60%;
  padding: 1%;
  height: 80vh;
}
.content-right{
  width: 20%;
  padding: 1%;
  height: 80vh;
  background-color: #3b3b3b ;
}

footer{
  padding: 1%;
  background-color: grey;
}

.note{
  display: flex;
  flex-direction: column;
  margin-top:2% ;
  padding: 1%;
  background-color: whitesmoke;
  border: solid 1px black;
}

.editor{
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
tr, td, th {
  width: 25%;
  text-align: left;
  border: 1px solid #000;
  padding: 0.3em;
  caption-side: bottom;
  margin: 0px;
}


/* ------------------------------------------------------------------- */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
